@model Entities.Models.DTO.ProductDesignViewModel

@{
    ViewData["Title"] = "Add Product";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h2>Add Product</h2>

@using (Html.BeginForm("ProductAdd", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{



    <div class="form-horizontal">
        <h4>&nbsp;</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Product Name</label>
            <div class="col-md-10">
                <input class="form-control" asp-for="product.ProductName" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Mini Pic</label>
            <div class="col-md-10">
                <input type="file" name="ourFileMini" class="form-control-file form-control height-auto" />

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">First Pic</label>
            <div class="col-md-10">
                <input type="file" name="ourFile" class="form-control-file form-control height-auto" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Second Pic</label>
            <div class="col-md-10">
                <input type="file" name="ourFile2" class="form-control-file form-control height-auto" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Third Pic</label>
            <div class="col-md-10">
                <input type="file" name="ourFile3" class="form-control-file form-control height-auto" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Four Pic</label>
            <div class="col-md-10">
                <input type="file" name="ourFile4" class="form-control-file form-control height-auto" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fifth Pic</label>
            <div class="col-md-10">
                <input type="file" name="ourFile5" class="form-control-file form-control height-auto" />
            </div>
        </div>




        <div class="form-group">
            <h4>Description:</h4>
            <div class="col-md-10">
                <textarea class="ckeditor" cols="80" asp-for="product.Description" rows="10"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Mini Description</label>
            <div class="col-md-10">
                <textarea class="ckeditor" cols="80" asp-for="product.MiniDescription" rows="10"></textarea>
            </div>
        </div>



        <br />


        <hr />

        <hr />
        <h2>2.Section</h2>
        <div class="pd-20 card-box mb-30" style="background-color:aquamarine">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Category</label>
                        <select asp-for="product.Category" class="form-control" required>
                            <option selected disabled>Choose Category</option>
                            @foreach (var item in Model.categories)
                            {
                                <option value="@item.Id" data-parent-id="@item.CategoryName">@item.CategoryName</option>
                            }
                        </select>
                     
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Price</label>
                        <input class="form-control" asp-for="product.Price" />
                    </div>
                </div>  
                <div class="col-md-4 col-sm-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Section</label>
                        <input class="form-control" asp-for="product.ListArea" />
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Status</label>
                        <input class="form-control" asp-for="product.Status" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Weight</label>
                        <input class="form-control" asp-for="product.Weight" />
                    </div>
                </div>
            </div>

        </div>
        <br>
        <hr />
        <br>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>


    </div>

}
<br />
<div>
    @Html.ActionLink("Back", "Index", "", new { @class = "btn btn-info" })
</div>
