@model Entities.Models.Product
<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-background="assets/images/bg/breadcrumb-bg-1.jpeg" data-overlay="dark" data-opacity="5">
        <div class="shape shape__1"><img src="~/assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
        <div class="shape shape__2"><img src="~/assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Product Details</h2>

                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- product popup start -->
    <div class="product-popup product-popup-1">
        <div class="view-background">
            <div class="row">
                <div class="col-md-4 align-self-center">
                    <div class="quickview d-flex align-items-center justify-content-center">
                        <div class="quickview__thumb">
                            <img src="~/assets/images/products/pp-1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="viewcontent">
                        <div class="viewcontent__header">
                            <h2>VICARAGUA COFFEE BEANS</h2>
                            <a class="view_close product-p-close" href="javascript:void(0)"><i class="fal fa-times"></i></a>
                        </div>
                        <div class="viewcontent__rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="viewcontent__price">
                            <h4><span>$</span>99.00</h4>
                        </div>
                        <div class="viewcontent__stock">
                            <h4>Available :<span> In stock</span></h4>
                        </div>
                        <div class="viewcontent__details">
                            <p>Anlor sit amet, consectetur adipiscing elit. Fusce condimentum est lacus, non pretium risus lacinia vel. Fusce eget turpis orci.</p>
                        </div>
                        <form action="/Shop/AddProductCard" method="post">
                            <div class="viewcontent__action">
                                <span>Qty</span>
                                <input type="number" name="Piece" placeholder="1">
                                <input type="number" name="Productid" value="@Model.ProductId">
                                <button type="submit" class="site-btn">add to cart</button>

                            </div>
                        </form>
                        <div class="viewcontent__footer">
                            <ul class="list-unstyled">
                                <li>Category:</li>
                                <li>SKU:</li>
                                <li>Brand:</li>
                            </ul>
                            <ul class="list-unstyled">
                                <li>Watches</li>
                                <li>2584-MK63</li>
                                <li>Brenda</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product popup end -->
    <!-- product details area start -->
    <div class="product-details__area pt-120 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="product-details__wrapper">
                        <div class="pd-img">
                            <div class="tab-content" id="pdContent">
                                @if (Model.Image1 != null)
                                {
                                    <div class="tab-pane fade show active" id="pd-1" role="tabpanel" aria-labelledby="pd-1-tab">
                                        <div class="big-img">
                                            <img src="~/assets/images/products/@Model.Image1" alt="">
                                        </div>
                                    </div>
                                }
                                @if (Model.Image2 != null)
                                {
                                    <div class="tab-pane fade" id="pd-2" role="tabpanel" aria-labelledby="pd-2-tab">
                                        <div class="big-img">
                                            <img src="~/assets/images/products/@Model.Image2" alt="">
                                        </div>
                                    </div>
                                }
                                @if (Model.Image3 != null)
                                {
                                    <div class="tab-pane fade" id="pd-3" role="tabpanel" aria-labelledby="pd-3-tab">
                                        <div class="big-img">
                                            <img src="~/assets/images/products/@Model.Image3" alt="">
                                        </div>
                                    </div>
                                }
                                @if (Model.Image4 != null)
                                {
                                    <div class="tab-pane fade" id="pd-4" role="tabpanel" aria-labelledby="pd-4-tab">
                                        <div class="big-img">
                                            <img src="~/assets/images/products/@Model.Image4" alt="">
                                        </div>
                                    </div>
                                }
                                @if (Model.Image5 != null)
                                {
                                    <div class="tab-pane fade" id="pd-5" role="tabpanel" aria-labelledby="pd-5-tab">
                                        <div class="big-img">
                                            <img src="~/assets/images/products/@Model.Image5" alt="">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="pd-tab">
                            <nav>
                                <div class="nav" id="shop-filter-tab" role="tablist">
                                    @if (Model.Image1 != null)
                                    {
                                        <a class="nav-link active" id="pd-1-tab" data-bs-toggle="tab" href="#pd-1" role="tab" aria-controls="pd-1" aria-selected="true">
                                            <img src="~/assets/images/products/@Model.Image1" alt="">
                                        </a>
                                    }
                                    @if (Model.Image2 != null)
                                    {
                                        <a class="nav-link" id="pd-2-tab" data-bs-toggle="tab" href="#pd-2" role="tab" aria-controls="pd-2" aria-selected="true">
                                            <img src="~/assets/images/products/@Model.Image2" alt="">
                                        </a>
                                    }
                                    @if (Model.Image3 != null)
                                    {
                                        <a class="nav-link" id="pd-3-tab" data-bs-toggle="tab" href="#pd-3" role="tab" aria-controls="pd-3" aria-selected="true">
                                            <img src="~/assets/images/products/@Model.Image3" alt="">
                                        </a>
                                    }
                                    @if (Model.Image4 != null)
                                    {
                                        <a class="nav-link" id="pd-4-tab" data-bs-toggle="tab" href="#pd-4" role="tab" aria-controls="pd-4" aria-selected="true">
                                            <img src="~/assets/images/products/@Model.Image4" alt="">
                                        </a>
                                    }  @if (Model.Image5 != null)
                                    {
                                        <a class="nav-link" id="pd-5-tab" data-bs-toggle="tab" href="#pd-5" role="tab" aria-controls="pd-5" aria-selected="true">
                                            <img src="~/assets/images/products/@Model.Image5" alt="">
                                        </a>
                                    }
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="product-details__content">
                        <div class="tr-wrapper d-flex align-items-center justify-content-between">
                            <h2 class="title">@Model.ProductName</h2>

                        </div>
                        @Html.Raw(Model.MiniDescription)
                        <span class="in-stock">
                            <i class="fal fa-check"></i> In Stock
                        </span>
                        <h3 class="price">$@Model.Price</h3>
                        <br />
                        <br />
                        <form action="/Shop/AddProductCard" method="post">
                            <div class="product-quantity d-flex align-items-center">
                                <span>Quantity</span>
                                <input type="number" name="Piece" min=1 placeholder="1">
                                <input type="number" name="Productid" value="@Model.ProductId" hidden>
                                <button type="submit" class="site-btn">add to cart</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product details area end -->
    <!-- product info start -->
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="pinfo-tab">
                    <nav>
                        <div class="nav d-flex align-items-center justify-content-center" id="pinfo-tab" role="tablist">
                            <a class="nav-link active" id="pinfo-1-tab" data-bs-toggle="tab" href="#pinfo-1" role="tab" aria-controls="pinfo-1" aria-selected="true">
                                Product Details
                            </a>
                            <a class="nav-link" id="pinfo-2-tab" data-bs-toggle="tab" href="#pinfo-2" role="tab" aria-controls="pinfo-2" aria-selected="true">
                                additional imformation
                            </a>

                        </div>
                    </nav>
                </div>
                <div class="tab-content pinfo-content" id="pinfoContent">
                    <div class="tab-pane fade show active" id="pinfo-1" role="tabpanel" aria-labelledby="pinfo-1-tab">
                        @Html.Raw(Model.Description)
                    </div>
                    <div class="tab-pane fade" id="pinfo-2" role="tabpanel" aria-labelledby="pinfo-2-tab">
                        <ul class="adi-info list-unstyled mb-0">
                            <li>Weight</li>
                            <li>@Model.Weight oz</li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- product info end -->
    <br />
    <br />

</main>